<div class="container-fluid">

<div class="ml-250">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
                   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link"  routerLink="/home">
                  
<span class="logo">
  <span>Let's</span>
  <fa-icon [icon]="faShoppingBag" class="shoppingBag"></fa-icon>
  

  <span>shop</span>
</span>
                <!-- <img src="assets/images/logo.jpg"> -->
                </a>
              </li> 
              <li class="nav-item">
                <a  class="nav-link" [routerLinkActive]="['active']" routerLink="/home" [ngClass]="{'active':homeFlag===true}"(click)="navTabClicked('home')">Home
                 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLinkActive]="['active']" routerLink="/fashion" [ngClass]="{'active':fashionFalg===true}" (click)="navTabClicked('fashion')">Fashion
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="/jewelery" [ngClass]="{'active':jewelleryFlag===true}" (click)="navTabClicked('jewellery')">Jewellery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="/electronics" [ngClass]="{'active':electronicsFlag===true}" (click)="navTabClicked('electronics')">Electronics</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li> -->
            </ul>
            <form class=" search mr-2">               
               <input class="form-control me-sm-2 search-adj" type="text" placeholder="Search" name="searchText" [(ngModel)]="searchText" (ngModelChange)="sendText($event)">             
          
              </form>
            <div class="cart" routerLink="/cart">
              <span><i class="fa fa-shopping-cart" aria-hidden="true"  ></i></span>
                
                 <span>Cart</span><span class="mr-2"> {{totalItemLength?totalItemLength:''}}</span>
                 
              </div>
              <i class="fa fa-power-off" aria-hidden="true" style="color:white" routerLink="/logout"></i> 
          </div>
        </div>
      </nav>
</div>
</div>