 <footer class="footer-10 bg-dark" id="footer">
      <div class="row footer ml-2 text-center">
        <div class="col-md-3">
          <h5>ABOUT</h5>
          <ul>
            <li>Contact Us</li>
            <li>About Us</li>
            <li>Careers</li>
            <li>Let's Shop Stories</li>
            <li>Wholesale</li>
            <li>Corporate</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>HELP</h5>
          <ul>
            <li>Shipping</li>
            <li>Payments</li>
            <li>Cancellation &Returns</li>
            <li>FAQ</li>
            <li>Report</li>
          </ul>

        </div>
        <div class="col-md-3">
          <h5>POLICY</h5>
          <ul>
            <li>Return Policy</li>
            <li>Terms of Use</li>
            <li>Security</li>
            <li>Privacy</li>
            <li>Sitemap</li>
            <li>EPR Compliance</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>SOCIAL</h5>

          <ul>
            <li>
              <span>
                <fa-icon [icon]="faFacebook" class="facebook"></fa-icon>
              </span> <span class="ml-10">Facebook</span>
            </li>
            <li>
              <span>
                <fa-icon [icon]="faTwitter" class="twitter"></fa-icon>
              </span><span class="ml-10">Twitter</span>
            </li>
            <li>
              <span>
                <fa-icon [icon]="faInstagram" class="instagram"></fa-icon>
              </span><span class="ml-10">Instagram</span>
            </li>
          </ul>
        </div>

      </div>
    </footer> 