.img-adj{
    width:100%;
    height: 100%;
    object-fit: cover;
}
div.scrollmenu {
    
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  .img-height{
    height: 10vw;
    width:10vw;
    // object-fit: cover;
    // transition: 2s ease-in-out;
}
.carousel-inner > .item > img {
  width:640px;
  height:360px;
}