<app-header></app-header>
<div class="container-fluid">
	
  <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
              <div class="view">
                  <img class="d-block w-100" src="assets/images/fashion.jpg" alt="First slide" routerLink="/fashion">
                  <div class="mask rgba-black-light"></div>
              </div>
              
          </div>
          <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                  <img class="d-block w-100" src="assets/images/electronics.png" alt="Second slide" routerLink="/electronics">
                  <div class="mask rgba-black-strong"></div>
              </div>
                     </div>
          <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                  <img class="d-block w-100" src="assets/images/jewelery.jpg" alt="Third slide" routerLink="/jewelery">
                  <div class="mask rgba-black-slight"></div>
              </div>
                    </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
                  
  </div>




<p-carousel [value]="itemsData" styleClass="custom-carousel" [numVisible]="6" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
  
  <ng-template let-x pTemplate="item">
      <div class="product-item">
          <div class="product-item-content">
              <div class="p-mb-3">
              </div>
              <div>
                <img class="card-img-top img-height" src="{{x.image}}">
                               </div>
                               <p class="" style="text-align:center">${{x.price}}</p>
          </div>
      </div>
  </ng-template>
</p-carousel>

<app-footer></app-footer>





